.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.layout-game{
  width: 500px;
  height: 550px;
  border: solid 5px rgb(0, 76, 93);
  border-radius: 20px;
  background-color: rgb(18, 110, 147);
}

.container-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  border-bottom: solid 5px black;
  border-radius: 20px;
}

.screen-layout{
  width: 75%;
  height: 200px;
  border: solid 7px rgb(12, 87, 117);
  margin: 5%;
  background-color: white;
}

.buttons-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5%;
}

.container-pad{
  width: 100px;
  height: 100px;
  margin: 3%;
}

.container-d-pad-up{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-up{
  width: 10px;
  height: 30px;
  background-color: #01646f;
  border-radius: 10%;
  margin-top: 10px;
}

.container-d-pad-left-and-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-left{
  width: 30px;
  height: 15px;
  background-color: #01646f;
  border-radius: 10%;
}

.button-right{
  width: 30px;
  height: 15px;
  background-color: #01646f;
  border-radius: 10%;
}

.container-d-pad-down{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.button-down{
  width: 10px;
  height: 30px;
  background-color: #01646f;
  border-radius: 10%;
}

.container-joystick{
  width: 100px;
  height: 100px;
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joystick{
  width: 80px;
  height: 80px;
  background-color: gray;
  border-radius: 100%;
}

.secondary-screen{
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-screen-layout{
  width: 250px;
  height: 200px;
  border: solid 5px rgb(12, 87, 117);
  background-color: white;
}

.container-action{
  width: 100px;
  height: 100px;
}

.button-x-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-x{
  width: 30px;
  height: 30px;
  background-color: #01646f;
  border-radius: 100%;
  margin-top: 5px;
}

.button-y-and-a-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-y{
  width: 30px;
  height: 30px;
  background-color: #01646f;
  border-radius: 100%;
}

.button-a{
  width: 30px;
  height: 30px;
  background-color: #01646f;
  border-radius: 100%;
}

.button-b-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-b{
  width: 30px;
  height: 30px;
  background-color: #01646f;
  border-radius: 100%;
}

.container-select{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #689ba0;
}
  
.container-start-button{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
}

.button-start{
  width: 1px;
  height: 10px;
  background-color: #01646f;
  border-radius: 100%;
  margin-right: 5px;
}
 
.container-select-button{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
}
  
.button-select{
  width: 2px;
  height: 10px;
  background-color: #01646f;
  border-radius: 100%;
  margin-right: 5px;
}